<aside class="admin-sidebar" id="adminSidebar">
    <!-- Add spacing div to push content down -->
    <div style="height: 60px;"></div>
    
    <div class="admin-sidebar-header">
      <div class="admin-sidebar-title">Employee Panel</div>
    </div>
  
    <div class="admin-sidebar-body">
      <a href="{{ url_for('orders') }}">
        <span class="sidebar-text">Orders</span>
      </a>
  
      <a href="{{ url_for('feedback') }}">
        <span class="sidebar-text">Feedback</span>
      </a>

      <a href="{{ url_for('manage_users') }}">
        <span class="sidebar-text">Manage Users</span>
      </a>


      <div class="sidebar-divider"></div>
    </div>
</aside>